@charset "utf-8";

/*todos os dispositivos*/
/* Typical device breakpoints
------------------------------
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/
@media print {
    body{
        background-image: url(../imagens/back-print.jpg); /*Não imprime*/
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    main{
        border: 1px solid black;
    }
    main::after{
        width: 90vh;
        content: "CursoEMvideo";
        text-decoration: overline;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}
@media screen and (min-width: 768px) and (max-width:992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width:1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}