@charset "utf-8";

/*mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 98vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.801);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 2em;
    color: rgba(138, 45, 45, 0.925);
}
img{
    display: block;
    margin: auto;
}
#phone{
    display: block;
}
#tablet, #print, #tv, #pc, #tablet{
    display: none;
}